<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">ROCK - SCISSORS - PAPER</h1>
      <p class="text-center description-sm">
        Rock Scissors Paper is a zero sum game that is usually played by two 
        people using their hands and no tools. The idea is to make shapes with 
        an outstretched hand where each shape will have a certain degree of 
        power and will lead to an outcome.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm shape border d-flex align-items-center justify-content-center" data-choice='rock'>
      Rock
    </div>
    <div class="col-sm shape border d-flex align-items-center justify-content-center" data-choice='scissors'>
      Scissors
    </div>
    <div class="col-sm shape border d-flex align-items-center justify-content-center" data-choice='paper'>
      Paper
    </div>
  </div>
</div>


<div class="modal" id="choice-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Waiting Curb's Choice</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm shape-sm border d-flex align-items-center justify-content-center user-choice"></div>
          <div class="col-sm"></div>
          <div class="col-sm shape-sm border d-flex align-items-center justify-content-center computer-choice">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex align-items-center justify-content-center final-text"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Try Again!</button>
      </div>
    </div>
  </div>
</div>